<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cámara </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (photo of photos; track $index) {
  <ion-card>
    <img [alt]="photo.caption || 'Foto'" [src]="photo.imagePath" />
    <ion-card-header>
      <ion-card-title>{{photo.title}}</ion-card-title>
      <ion-card-subtitle>{{photo.photoDate}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
        {{photo.caption || 'Sin descripción'}}
      
      <div class="button-container">


        
        <ion-button (click)="removePhoto(photo.id || 0)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        
        <ion-button class="favorite" (click)="toggleFavorite(photo.id || 0)">
          <ion-icon [name]="photo.isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  } @empty {
  <ion-card>
    <ion-card-header>
      <ion-card-title>No hay fotos para mostrar</ion-card-title>
    </ion-card-header>

    <ion-card-content> Agrega una foto para mostrarla aquí. </ion-card-content>
  </ion-card>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
